.line{
  color: #424242;
}
/*header部分样式*/
.headList{
  background: #333;
  color: #b0b0b0;
}
.headList .headWrap{
  width: 1150px;
  height: 40px;

  margin: 0 auto;
}
.headLeft > ul > li{
  float: left;
  line-height: 40px;
}
.headLeft > ul > li>a{
  padding: 0 8px;
  color: #b0b0b0;
  line-height: 14px;
}

.headRight{
  float: right;
}
.headRight>ul>li{
  float: left;
  line-height: 40px;
  height: 40px;
}
.headRight>ul>li>a{
  padding: 0 8px;
  color: #b0b0b0;
}

.headList a:hover{
  color: white;
}


ol{
  list-style: none;
}
.hotPro {
  width: 1120px;
  height: 1333px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 14px;
  position: relative;
}

.hotPro > ul{
  position: absolute;
  top: 15px;
}
.hotProList > li {
  float: left;
  padding-bottom: 14px;
}

.hotProList > li + li {
  padding-left: 14px;
}

.hotProList > li:nth-child(4n + 1) {
  padding-left: 0;
}

.hotProList > li > a {
  display: block;
}

.hotProListImg > img {
  width: 270px;
  height: 270px;
}

.hotProListInfor {
  width: 240px;
  height: 100px;
  line-height: 30px;
  padding: 15px;
  color: black;
}

.hotProName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
}

.hotProListInfor > .des {
  margin: 10px 0 6px 0;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.hotProListInfor > .price {
  font-size: 16px;
  color: #fa7b00;
  font-weight: bold;
}

.hotPro > ol{
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -120px;
}

.hotPro > ol > li{
  float: left;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ccc;
}
.hotPro > ol > li + li{
  margin-left: 5px;
}


/*nav 部分样式*/
.main-nav {
  width: 1150px;
  margin: 50px auto;
}

.main-nav > ul > li {
  float: left;
  list-style: none;
  width: 95px;
  background-color: orange;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

.main-nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.main-nav > ul > li > a:hover {
  text-decoration: underline;
}