.DetailWrap{
  width: 1108px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}
.productDetailLeft{
  float: left;
}
.productDetailLeft>img{
  width: 400px;
  height: 400px;
}
.productDetailRight{
  float: left;
  padding-left: 20px;
  width: 500px;
}
.productDetailRight>h3{
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}
.productDetailRight>.des{
  width: 500px;
  height: 40px;
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
}
.productDetailRight>.price{
  font-size: 20px;
  font-weight: bold;
  color: darkorange;
  margin-top: 20px;
}
.productDetailRight .buy{
  margin-top: 20px;
}
.productDetailRight .buy span{
 float: left;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: white;
  font-size: 16px;
  text-align: center;
  background-color: #f6d5a5;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 2px;
}
